<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <div>
      <span class="navbar-text me-2"><a class="text-decoration-none" href="https://dotpict.net/users/1785336" target="_blank"><i class="fa-solid fa-caret-right"></i> Dotpict </a></span>
      <span class="navbar-text"><a class="text-decoration-none" href="https://sketchfab.com/lizard-wizard" target="_blank"><i class="fa-solid fa-caret-right"></i> Sketchfab</a></span>
    </div>
    <span class="text-end text-body-secondary">Made with <i class="fa-regular fa-heart"></i></span>
  </div>
</nav>
