<div class="content">
  <div class="title-bar d-flex align-items-center justify-content-center">
    <h1 class="display-5">About</h1>
  </div>

  <div class="row justify-content-center page">
    <div class="col-md-2 col-12">
      <div class="avatar">
        <img src="https://i.imgur.com/ncFG0kL.gif" alt="Lizard Wizard">
      </div>
    </div>

    <div class="col-md-4 col-12">
      <div class="card ">
        <h5 class="card-header">Accounts / Socials</h5>
        <div class="card-body">
          <p class="card-text"><a href="https://cohost.org/lizardwizard" target="_blank" class="text-decoration-none text-reset"><i class="fa-solid fa-wand-magic-sparkles"></i>&nbsp;<b>Cohost:</b> @lizardwizard</a></p>
          <p class="card-text"><a href="https://dotpict.net/users/1785336" target="_blank" class="text-decoration-none text-reset"><i class="fa-solid fa-wand-magic-sparkles"></i>&nbsp;<b>Dotpict:</b> @lizardwizard</a></p>
          <p class="card-text"><a href="https://dotpict.net/users/1785336" target="_blank" class="text-decoration-none text-reset"><i class="fa-solid fa-wand-magic-sparkles"></i>&nbsp;<b>Sketchfab:</b> @lizard-wizard</a></p>
        </div>
      </div>
      <br>
      <div class="card ">
        <h5 class="card-header">Tools</h5>
        <div class="card-body">
          <h5 class="card-title">Pixelart</h5>
          <p class="card-text"><a class="link-secondary link-offset-1" href="https://www.aseprite.org/" target="_blank">Aseprite</a> on desktop. <a class="link-secondary link-offset-1" href="https://dotpict.net/" target="_blank">Dotpict</a> on mobile.</p>
          <h5 class="card-title">Modeling</h5>
          <p class="card-text"><a class="link-secondary link-offset-1" href="https://www.blockbench.net/" target="_blank">Blockbench</a>.</p>
        </div>
      </div>
    </div>

  </div>
</div>
