@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

$main-family: 'Varela Round', sans-serif;
$color-bg: var(--bs-gray-300);
$color-secondary: var(--bs-gray);

:root {
  --bs-body-font-sans-serif: $main-family;
  --bs-body-font-family: $main-family;
  scroll-behavior: auto !important;
}

html, body {
  font-family: $main-family !important;
  min-height: 100%;
}

.row {
  width: 100%;
  margin: 0 !important;
}

.content {
  min-height: calc(100vh - 74px - 24px);
  margin-top: 58px;
  background-color: $color-bg;
}

.title-bar {
  height: 100px;
  color: white;
  background-color: $color-secondary;

  h1 {
    margin-bottom: 0;
  }
}

.page {
  padding: 50px 0;
}

@media (max-width: 576px) {
  .title-bar{
    height: 75px;
  }
  .page {
    padding: 20px 0;
  }
}
