.col-md-3 {
  padding: 0 10px;
}
.col-md-2 {
  padding: 0 5px;
}

.pixel-img {
  width: 100%;
  margin: 5px 0;
  background-color: white;
}

.spinner {
  display: flex;
  justify-content: center;
  font-size: xxx-large;
  color: var(--bs-gray);
  margin: 5vh 0;
}

@media (max-width: 576px) {
  .col-4 {
    padding: 0 1.5px;
  }
  .col-12 {
    padding: 5px 0;
  }
  .pixel-img {
    margin: 1.5px 0;
  }
}
